<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="container flex">
        <a class="logo" href="/">e</a>
        <ul>
          <li>
            <a href="/events/new"><button>Create Event</button></a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="banner banner-2 flex">
        <div class="banner-img"></div>
        <div class="banner-content flex f-center">
          <div>
            <h1>all events</h1>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
